{{define "New"}}

<!DOCTYPE html>
<html lang="">

{{template "_head"}}

<body>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-5">{{.titulo}}</h2>
        </div>
    </div>
    <div class="alert alert-success" id="alerta">
        <strong>{{.mensagem}}</strong>
    </div>            
    <form method="POST" action="/v1/insert">
        <input type="hidden" id="mensagem" name="mensagem" value="{{.mensagem}}"/>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="nome">Título:</label>
                    <input type="text" class="form-control" id="titulo" 
                           name="titulo" value="{{.Titulo}}" data-error="Campo obrgatório." required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="texto">Mensagem:</label>
                    <input type="text" class="form-control" id="texto" 
                           name="texto" value="{{.Texto}}" data-error="Campo obrgatório." required/>
                </div>
            </div>
        </div>

        <button type="submit" value="Enviar" class="btn btn-success">Salvar</button>
        <a class="btn btn-info" href="/">Cancelar</a>
    </form>
</div>
</body>

<script>
    $('#alerta').hide();

    var inputvalue = $("#mensagem").attr("value");

    if(inputvalue !== "") {
        $('#alerta').show();
    }

    $(function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].oninvalid = function (e) {
                    e.target.setCustomValidity("");
                    if (!e.target.validity.valid) {
                        e.target.setCustomValidity(e.target.getAttribute("data-error"));
                    }
                };
            }
            var selects = document.getElementsByTagName("SELECT");
            for (var i = 0; i < selects.length; i++) {
                selects[i].oninvalid = function (e) {
                    e.target.setCustomValidity("");
                    if (!e.target.validity.valid) {
                        e.target.setCustomValidity(e.target.getAttribute("data-error"));
                    }
                };
            }

        });    
</script>

</html>

{{end}}